@import "tailwindcss";

:root {
  --bg-primary: #ffffff;         
  --bg-secondary: #f7f7f7;        
  --bg-card: #e5e7eb;           
  --bg-button: #ffed29;          
  --icons-bg: #000000;           
  --dw-bg: #F9FAFB;
  --tp-bg: var(--bg-primary);
  --text-primary: #0d0d0d;       
  --text-secondary: #9CA3AF;      
  --carousalcard-bg-light: #FFFFFF;     
  --carousalcard-border-light: #D5D5D8;   
  --carousal-bg-light: #E4E4E7;  
  --bg-bg:var(--bg-primary);
  --HT-bg:#fff;
  --bg-card-YD:var(--bg-primary)
  --bg-cardd-YD:var(--bg-primary)
}

.dark {
  --bg-card-YD: rgba(25, 49, 32, 0.5);
  --bg-cardd-YD:  rgba(22, 37, 56, 0.5);
  --bg-primary: #171717;
  --bg-secondary: #18181b;
  --bg-card: #1a1a1a;
  --bg-button: #ffef43;
  --icons-bg: #27272a;
  --dw-bg: #000000;
   --tp-bg: linear-gradient(to right, #a98408 0%, #9f6706,#5c3b02 );
  --text-primary: #ffffff;
  --text-secondary: #9CA3AF;
  --border-card: rgba(255,255,255,0.03);
  --bg-bg:var(--dw-bg);
  --HT-bg:#27272A;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}
